<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-09-15T13:40:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/wcandillon/tmp/react-native-webgpu/spm-example/ios/SpmExample.xcodeproj</string>
</dict>
</plist>
